 @model CaseDiaryView.ViewModels.CaseMaster
@* 
@{
    ViewData["Title"] = "Create";
}
 *@
<div class="container mt-5">
    <h2 class="mb-4">Create CaseMaster</h2>
    <form asp-action="Create" method="post" enctype="multipart/form-data" asp-controller="CaseMasters" class="needs-validation" novalidate>
        <div class="row">
            <!-- CaseNumber -->
            <div class="col-md-6 mb-3">
                <label asp-for="CaseNumber" class="form-label"></label>
                <input asp-for="CaseNumber" class="form-control" />
                <span asp-validation-for="CaseNumber" class="text-danger"></span>
            </div>

            <!-- Adalot -->
            <div class="col-md-6 mb-3">
                <label asp-for="AdalotId" class="form-label">Adalot</label>
                <select asp-for="AdalotId" asp-items="@ViewBag.AdalotId" class="form-select">
                    <option value="0">Select Adalot</option>
                </select>
                <span asp-validation-for="AdalotId" class="text-danger"></span>
            </div>
        </div>

        <div class="row">
            <!-- Badi -->
            <div class="col-md-6 mb-3">
                <label asp-for="BadiId" class="form-label">Badi </label>
                <select asp-for="BadiId" asp-items="@ViewBag.BadiId" class="form-select">
                    <option value="0">Select BAdi</option>
                </select>
                <span asp-validation-for="BadiId" class="text-danger"></span>
            </div>

            <!-- Section -->
            <div class="col-md-6 mb-3">
                <label asp-for="SectionId " class="form-label">Section</label>
                <select asp-for="SectionId " asp-items="@ViewBag.SectionId " class="form-select">
                    <option value="0">Select Section</option>
                </select>
                <span asp-validation-for="SectionId " class="text-danger"></span>
            </div>
        </div>

        <div class="row">
            <!-- Description -->
            <div class="col-md-6 mb-3">
                <label asp-for="Description" class="form-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <!-- ComplainantId -->
            <div class="col-md-6 mb-3">
                <label asp-for="ComplainantId" class="form-label">Special Complainant</label>
                <select asp-for="ComplainantId" asp-items="@ViewBag.ComplainantId" class="form-select">
                    <option value="0">Select Complainant</option>
                </select>
                <span asp-validation-for="ComplainantId" class="text-danger"></span>
            </div>

            <!-- CaseDate -->
            <div class="col-md-6 mb-3">
                <label asp-for="CaseDate" class="form-label">CaseDate</label>
                <select asp-for="CaseDate" asp-items="@ViewBag.CaseDate" class="form-select">
                    <option value="0">Select CaseDate</option>
                </select>
                <span asp-validation-for="CaseDate" class="text-danger"></span>
            </div>
            <!-- CaseSource -->
            <div class="col-md-6 mb-3">
                <label asp-for="CaseSourceId" class="form-label">CaseSource</label>
                <select asp-for="CaseSourceId" asp-items="@ViewBag.CaseSourceId" class="form-select">
                    <option value="0">Select CaseSourceId</option>
                </select>
                <span asp-validation-for="CaseSourceId" class="text-danger"></span>
            </div>
            <!-- CourtId -->
            <div class="col-md-6 mb-3">
                <label asp-for="CourtId" class="form-label">CourtId</label>
                <select asp-for="CourtId" asp-items="@ViewBag.CourtId" class="form-select">
                    <option value="0">Select Court</option>
                </select>
                <span asp-validation-for="CourtId" class="text-danger"></span>
            </div>
            
        </div>

        <div class="d-flex justify-content-end">
            <!-- Buttons -->
            <button type="submit" class="btn btn-primary me-2">Create</button>
            <a asp-action="Index" class="btn btn-secondary">Cancel</a>
        </div>
    </form>
</div>
 
                <p>Welcome</p>