@model IEnumerable<CaseDiaryView.ViewModels.CaseMaster>
@{
    ViewBag.Title = "Index";
}
@Html.ActionLink("Add", "Create", "CaseMasters")
<h2>Case Information</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <td>Case Number</td>
            <td>
                @Html.DisplayNameFor(m => m.Adalot)
            </td>
            <td>
                @Html.DisplayNameFor(m => m.Description)
            </td>
            <td>
                @Html.DisplayNameFor(m => m.CaseDate)
            </td>
            <td>
                @Html.DisplayNameFor(m => m.Section)
            </td>
            @*<td>
                @Html.DisplayNameFor(m => m.Description)
            </td>*@
            <td>.....</td>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CaseNumber</td>
                <td>
                    @item.Adalot.AdalotName
                </td>
                <td>
                  @item.Description
                </td>
                <td>
                    @item.CaseDate
                </td>
                <td>
                   @item.Section.SectionName
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "CaseINfo", new { @item.Id },null)|
                    @* @Html.ActionLink("ADD|Edit Details", "AddEdit", "Casedetails", new { @item.Id },null)| *@
                    @Html.ActionLink("Delete", "Deleet", "CaseINfo", new { @item.Id },null)
                </td>
            </tr>
            <tr>
                <td></td>
                <td colspan="5">
                    <h2>@item.CaseNumber  case's details information</h2>
                    <table class="table table-danger">
                        <tr>
                            <th>Heiring Date</th>
                            <th>Next Heiring Date</th>
                            <th>Heiring </th>
                            <th>Comments</th>
                        </tr>
                        @if (item.CaseDetails.Count > 0)
                        {
                            foreach (var dt in item.CaseDetails)
                            {
                                <tr>
                                    <td>@dt.CurrentHearingDate</td>
                                    <td>@dt.NextHearingDate</td>
                                    <td>@dt.Hiring </td>
                                    <td>@dt.Comment</td>
                                    <td>

                                        @Html.ActionLink("Edit", "Edit", "Casedetails", new { @item.Id }, null)|

                                        @Html.ActionLink("Delete", "Delete", "Casedetails", new { @item.Id }, null)

                                    </td>
                                </tr>
                            }

                    }
else
                {
                    <tr>
                        <td colspan="3">
                            <p class="text-bg-info text-center">  No details information</p>
                            
                        </td>
                        <td>
                           
                            @Html.ActionLink("Add", "Create", "Casedetails", new { caseId= @item.Id }, null)
                        </td>
                    </tr>
                }

                    </table>
                </td>
            </tr>
        }
    </tbody>
</table>